@font-face{
    font-family:"Bebas W05 Regular";
    src:url("../Fonts/5190181/956b9d39-5ee0-4dd6-8ca6-32e172727606.woff2") format("woff2"),
    url("../Fonts/5190181/51efd2e1-1dee-40ea-a745-e11fddc95bef.woff") format("woff");
}

html{
margin:0;padding:0;height:100vh !important;
 }

body{
margin:0;padding:0;height:100vh !important;

  font-family: 'Merriweather',arial, sans-serif;
  text-align: center;


}

h1{
 font-family: 'Sacramento', cursive;
 font-style: italic;
 font-weight: bolder;
 font-size: 11vw;
 margin: 0;
color: #903749;

}

.header{

  height: auto;
  width: auto;
margin: auto;
padding: 2% 3% 2% 3%;
word-spacing: 3px;
z-index: 999999;
border-style: solid;
border-image:
  linear-gradient(
    to bottom,
    #ffc8c8,
    rgba(255, 0, 0, 0),
    #ffc8c8
  ) 30 10% ;

}

.header:hover{
  border-image:
    linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      #ffc8c8,
      rgba(255, 0, 0, 0)
    ) 30 10% ;
}

.header:hover p{
color: black;
}

.header:hover h1{
color: black;
}


.header p{
  font-family: 'Bebas W05 Regular',arial;
  font-size: 3vw;
  margin: 0;
  font-weight: normal;
  line-height: 2;
  color: #ffc8c8;
}


.top-container{
  position: relative;
    background-color: #defcf9;
    display:flex;
    align-items:center;
    flex-direction:column;
    margin: 0;
    padding: 0;
    height:100vh;
    min-height:100vh;
    width:100%;


}

.container{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.middle-container{
    background-color: #c06c84;
    display:inline-block;
    margin:0;padding:0;height: auto;
    overflow-x: hidden;
}

.bottom-container{
    background-color: #6c5b7b;
    display:block;
    margin:0;padding:0;height:100%;
    overflow-x: hidden;
}

.background {
  width: auto;

  max-height: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

position: absolute;

bottom: 0;

}



.code-img{
  width: 40%;
  max-width: 40vh ;
  height: auto;
}
